tr {
  td {
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid rgb(238, 238, 238);

    .selectButtonWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 0 1px;
      gap: 5px;

      .applyTeacherBtn {
        height: 25px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #303a65;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: #e7f1ff;

          .arrowDown {
            color: #303a65;
          }
        }

        &:active {
          background: #303a65;
        }

        .arrowDown {
          font-size: 15px;
          color: #fff;
        }
      }
    }

    select {
      height: 25px;
      width: 99%;
      border: 1px solid rgb(238, 238, 238);
      border-radius: 3px;
      background: #fff;
      color: #707070;
      font-weight: 300;
      text-align: center;
      appearance: none;
      background-image: url('https://icons.veryicon.com/png/o/miscellaneous/simple-and-round-line-mark/down-arrow-56.png');
      background-repeat: no-repeat;
      background-position: right 5px center;
      background-size: 15px 15px;
      cursor: pointer;
    }

    // .lectureTeacherSelect {
    //   width: 88%;
    // }
  }
}
