.subjectCard-container {
  border: 2px solid rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;

  .subjectName {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    background: #e7f1ff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .book {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 680px) {
  .subjectCard-container {
    .subjectName {
      font-size: 10px;

      .book {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .subjectCard-container {
    .subjectName {
      font-size: 8px;

      .book {
        font-size: 12px;
      }
    }
  }
}
